In [1]:
import pandas as pd

# Load the Excel file
df = pd.read_excel(r'C:\Users\Bode\Desktop\Isagab store.xls')

In [2]:
# Preview the data
print("Initial Shape:", df.shape)
print(df.head())

Initial Shape: (9994, 21)
   Row ID         OrderID  OrderDate   ShipDate        ShipMode CustomerID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class   CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class   CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class   DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class   SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class   SO-20335

      CustomerName    Segment        Country             City  ... PostalCode  \
0      Claire Gute   Consumer  United States        Henderson  ...      42420
1      Claire Gute   Consumer  United States        Henderson  ...      42420
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...      90036
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...      33311
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...      33311

   Region        ProductID         Category SubCategory  \
0   South  FUR-BO-10001798        Furniture   Bookcases
1   South  FUR-CH-10000454        Furniture      Chairs
2    West  OFF-LA-10000240  Office Supplies      Labels
3   South  FUR-TA-10000577        Furniture      Tables
4   South  OFF-ST-10000760  Office Supplies     Storage

                                         ProductName     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [3]:
# 1. Strip whitespace from column names
df.columns = df.columns.str.strip()

In [4]:
# 2. Check for duplicates
duplicates = df.duplicated().sum()
print(f"Duplicate rows: {duplicates}")
df = df.drop_duplicates()

Duplicate rows: 0

In [5]:
# 3. Convert dates to datetime format
df['OrderDate'] = pd.to_datetime(df['OrderDate'])
df['ShipDate'] = pd.to_datetime(df['ShipDate'])

In [6]:
# 4. Handle missing values
print("Missing values per column:")
print(df.isnull().sum())
df = df.dropna(subset=['OrderID', 'CustomerName', 'ProductName', 'Sales', 'Profit'])

Missing values per column:
Row ID          0
OrderID         0
OrderDate       0
ShipDate        0
ShipMode        0
CustomerID      0
CustomerName    0
Segment         0
Country         0
City            0
State           0
PostalCode      0
Region          0
ProductID       0
Category        0
SubCategory     0
ProductName     0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

In [7]:
# 5. Check data types
print("Data types:")
print(df.dtypes)

Data types:
Row ID                   int64
OrderID                 object
OrderDate       datetime64[ns]
ShipDate        datetime64[ns]
ShipMode                object
CustomerID              object
CustomerName            object
Segment                 object
Country                 object
City                    object
State                   object
PostalCode               int64
Region                  object
ProductID               object
Category                object
SubCategory             object
ProductName             object
Sales                  float64
Quantity                 int64
Discount               float64
Profit                 float64
dtype: object

In [8]:
# 8. Check for outliers in numeric data (optional)
print("Describe numeric fields:")
print(df[['Sales', 'Quantity', 'Discount', 'Profit']].describe())

Describe numeric fields:
              Sales     Quantity     Discount       Profit
count   9994.000000  9994.000000  9994.000000  9994.000000
mean     229.858001     3.789574     0.156203    28.656896
std      623.245101     2.225110     0.206452   234.260108
min        0.444000     1.000000     0.000000 -6599.978000
25%       17.280000     2.000000     0.000000     1.728750
50%       54.490000     3.000000     0.200000     8.666500
75%      209.940000     5.000000     0.200000    29.364000
max    22638.480000    14.000000     0.800000  8399.976000

In [9]:
# Save cleaned data
df.to_csv("cleaned_Isagab_sales.csv", index=False)
print("Cleaned data saved to cleaned_Isagab_sales.csv")

Cleaned data saved to cleaned_Isagab_sales.csv

In [1]:
import shutil
import os

# Get your Windows username
username = os.getlogin()

# Copy the notebook to Desktop (replace 'MyNotebook.ipynb' with your actual filename)
shutil.copy("Untitled51.ipynb", f"C:/Users/Bode/Desktop/MyNotebook.ipynb")

'C:/Users/Bode/Desktop/MyNotebook.ipynb'